.ImageFromCarousel{
    height: 30em;
}

.CategoryFromCard{
    text-decoration: none;
    font-size: 2em;
}

a.CategoryFromCard:hover{
    color: #DBA800 !important;
}

.ImageFromCategory{
    height: 15em;
}

.Separator{
    margin-top: 1em;
    margin-bottom: 1em;
}

@media all and (max-width: 976px){
    .ImageFromCarousel{
        height: 25em;
    }
}

@media all and (max-width: 760px){
    .ImageFromCarousel{
        height: 20em;
    }
}

@media all and (max-width: 555px){
    .ImageFromCarousel{
        height: 15em;
    }
}