<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar contenido</title>

    <link rel="stylesheet" href="/LearnDome/Utils/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/LearnDome/Utils/sweetalert/sweetalert_dark.css">

</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LearnDome</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/LearnDome/View/html/teachers/ProfileTeachers.html">Perfil</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cursos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-white" href="/LearnDome/View/html/teachers/AddCourse.html">Subir cursos</a></li>
                  <li><a class="dropdown-item text-white" href="/LearnDome/View/html/teachers/CourseManager.html">Administrar cursos</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/teachers/MessagesTeachers.html">Mensajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/teachers/AddCategories.html">Categorías</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/teachers/CoursesSales.html">Reporte de ventas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/index.html">Cerrar sesión</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2 bg-dark" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

<div class="container text-white">
  <div class="row">
    <h1>Agregar un nivel</h1>
    <div class="d-flex mt-3 mb-3">
      <input class="form-control m-2" type="text" id="txtBlockName" placeholder="Nombre del bloque/nivel">
      <button id="levelButton" class="btn btn-danger m-2" onclick="displayContent()">Siguiente</button>
    </div>
  </div>

  <div class="row" id="sublevelSpace">
    <h1>Agregar un subnivel</h1>
    <div class="mt-3 mb-3">
      <input class="form-control" type="text" id="txtTopicName" placeholder="Nombre del tema/subnivel">
      <div id="inputSpace"><input class="form-control mt-3" type="file" accept="video/*" id="mediaFile"></div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary m-5" onclick="nextLevel()">Siguiente nivel</button>
      <button class="btn btn-success m-5" onclick="nextSublevel()">Siguiente subnivel</button>
    </div>
  </div>
</div>

    <script src="/LearnDome/View/js/AddContent.js"></script>

    <script src="/LearnDome/Utils/sweetalert/sweetalert_dark.min.js"></script>

    <script src="/LearnDome/Utils/jquery/jquery.min.js"></script>
    <script src="/LearnDome/Utils/popper/popper.min.js"></script>
    <script src="/LearnDome/Utils/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>