<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>

    <link rel="stylesheet" href="/LearnDome/Utils/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/LearnDome/View/css/course.css">
    <link rel="stylesheet" href="/LearnDome/Utils/sweetalert/sweetalert_dark.css">

    <script src="https://www.paypal.com/sdk/js?client-id=AdlwoFoeNozGtN6tSsKv1bpYfQWmAna5_Qg0YqtxeUA65oss9JEIA7nVVMHwdXg1r2gsQ6ew3vSy_FZC&components=buttons&currency=MXN"></script>
    <script src="/LearnDome/Utils/jspdf/jspdf.min.js"></script>
</head>
<body class="bg-dark">
    <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/LearnDome/View/html/students/MainStudentsPage.html">LearnDome</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorías
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-white" href="/LearnDome/View/html/students/CourseByCategory.html">Categoría 1</a></li>
                      <li><a class="dropdown-item text-white" href="/LearnDome/View/html/students/CourseByCategory.html">Categoría 2</a></li>
                      <!-- <li><hr class="dropdown-divider"></li> -->
                      <li><a class="dropdown-item text-white" href="/LearnDome/View/html/students/CourseByCategory.html">Categoría 3</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/LearnDome/View/html/students/ProfileStudents.html">Perfil</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link active" href="/LearnDome/View/html/students/MessagesStudents.html">Mensajes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/LearnDome/View/html/students/kardex.html">Kárdex</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/LearnDome/View/html/index.html">Cerrar sesión</a>
                  </li>
                </ul>
                <!-- <form class="d-flex" role="search">
                  <input class="form-control me-2 bg-dark" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-danger" type="submit">Buscar</button>
                </form> -->
              </div>
            </div>
          </nav>
        </div>
    </div>

<div class="container">
  
  <div class="row">

    <div class="col-12 col-sm-12 col-md-3">
      <div class="d-flex justify-content-center"><h2 class="text-white" id="courseTitle">Título del curso</h2></div>
      <img src="/LearnDome/assets/domo.jpg mt-1" class="w-100" id="courseImage" alt="...">
      <h5 class="text-white mt-1" id="courseTeacher">Profesor</h5>
      <h5 class="text-white mt-1" id="courseScore">Calificación</h5>
      <h5 class="text-white mt-1" id="courseDate">Fecha de subida</h5>
      <h5 class="text-white mt-1" id="coursePrice">Precio</h5>
      <h5 class="text-white mt-1" id="courseDescription">Descripción</h5>
      <h5 class="text-white mt-1" id="courseCategories"></h5>
      <!--<div class="d-flex justify-content-center"><button class="btn btn-danger ResponsiveButton mt-1">Comprar</button></div>-->
      <div class="mt-3" id="paypalButtonContainer"></div>
      <div class="d-flex justify-content-center">
        <button class="mt-3 btn btn-danger" id="buyWithoutPaypalButton" onclick="buyCourseWithoutPaypal()">Comprar sin paypal</button>
      </div>
      <div class="d-flex justify-content-center gap-5 mb-2 mt-3">
        <button class="likeDislikeButton" id="likeButton" onclick="likeButtonPressed(this.id)">Me gustó</button>
        <button class="likeDislikeButton" id="dislikeButton" onclick="dislikeButtonPressed(this.id)">No me gustó</button>
      </div>

    </div>

    <div class="col-12 col-sm-12 col-md-9">
      <div id="courseContent">
        <!-- <ul class="accordion">
          <li>
            <label for="first">What is Accordion? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="first">
            <div class="content">
              <p> lorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsudlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxd</p>
            </div>
          </li>
          <li>
            <label for="second">How to create? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="second">
            <div class="content">
              <p> lorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxddrem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxd</p>
            </div>
          </li>
          <li>
            <label for="third">Where to use it? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="third">
            <div class="content">
              <video controls="controls" poster="image" preload="metadata" id="idMedia"></video>
            </div>
          </li>
        </ul>

        <ul class="accordion">
          <li>
            <label for="fourth">What is Accordion? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="fourth">
            <div class="content">
              <p> lorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsudlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxd</p>
            </div>
          </li>
          <li>
            <label for="fifth">How to create? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="fifth">
            <div class="content">
              <p> lorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxddrem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxdxdddxdlorem ipsum xxdxd</p>
            </div>
          </li>
          <li>
            <label for="sixth">Where to use it? <span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="sixth">
            <div class="content">
              <video controls="controls" poster="image" preload="metadata" id="idMedia"></video>
            </div>
          </li>
        </ul> -->
      </div>
    </div>

  </div>

  <div class="row text-white mt-3">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h1>Comentarios del curso</h1>
            </div>

            <div id="courseComments">
                <!-- <h6 class="commentUser">Nombre del que comenta</h6>
                <div class="p-1 mb-3 bg-secondary rounded">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam expedita. Est harum non nesciunt itaque adipisci ut, veritatis qui quia, rem dolor, fugit dolorem architecto a reprehenderit pariatur quis!</p>
                </div>
                

                <h6 class="commentUser">Nombre del que comenta</h6>
                <div class="p-1 mb-3 bg-secondary rounded">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam expedita. Est harum non nesciunt itaque adipisci ut, veritatis qui quia, rem dolor, fugit dolorem architecto a reprehenderit pariatur quis!</p>
                </div>

                <h6 class="commentUser">Nombre del que comenta</h6>
                <div class="p-1 mb-3 bg-secondary rounded">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam expedita. Est harum non nesciunt itaque adipisci ut, veritatis qui quia, rem dolor, fugit dolorem architecto a reprehenderit pariatur quis!</p>
                </div> -->

                <!--<div>
                    <div class="d-flex">
                        <h6 class="commentUser">si</h6>
                        <div class="alignRight">
                            <h6 >si</h6>
                        </div>
                    </div>
                    <div class="p-1 mb-3 bg-secondary rounded">
                        <p>si</p>
                    </div>
                </div>-->

            </div>
        </div>
    </div>

  <div class="row text-white mt-3 mb-3" id="commentArea">
      <div class="d-flex justify-content-center"><h1>Agrega un comentario</h1></div>
      <div class="d-flex">
        <input class="form-control m-2" type="text" id="txtComment">
        <button class="btn btn-danger m-2" onclick="checkEmptyComment()">Comentar</button>
      </div>
  </div>

  <div id="getCertificateOption" class="mb-5">
    <div class="d-flex justify-content-center">
      <h1 class="text-white">Este curso ha sido completado en su totalidad</h1>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success mt-2" onclick="getCourseCertificate()">Obtener certificado</button>
    </div>
  </div>

</div>

    <script src="/LearnDome/Utils/sweetalert/sweetalert_dark.min.js"></script>
    <script src="/LearnDome/View/js/course.js"></script>

    <script src="/LearnDome/Utils/jquery/jquery.min.js"></script>
    <script src="/LearnDome/Utils/popper/popper.min.js"></script>
    <script src="/LearnDome/Utils/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>