<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>

    <link rel="stylesheet" href="/LearnDome/Utils/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/LearnDome/Utils/sweetalert/sweetalert_dark.css">

</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/LearnDome/View/html/students/MainStudentsPage.html">LearnDome</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorías
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-white" href="/LearnDome/View/html/students/CourseByCategory.html">Categoría 1</a></li>
                  <li><a class="dropdown-item text-white" href="/LearnDome/View/html/students/CourseByCategory.html">Categoría 2</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item text-white" href="/LearnDome/View/html/students/CourseByCategory.html">Categoría 3</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/LearnDome/View/html/students/ProfileStudents.html">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/students/MessagesStudents.html">Mensajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/students/kardex.html">Kárdex</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/LearnDome/View/html/index.html">Cerrar sesión</a>
              </li>
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2 bg-dark" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form> -->
          </div>
        </div>
      </nav>

<div class="container text-white">
  <div class="d-flex">
    <input class="form-control m-3" type="text" id="txtLookUser" placeholder="Buscar usuario">
    <button class="btn btn-danger m-3" onclick="lookUser()">Buscar</button>
  </div>
  <div id="messages">
    <!-- <div class="d-flex justify-content-start"><p class="bg-danger rounded w-75" style="word-break: break-all;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quasi dicta. Laborum optio dignissimos iure deleniti quod, itaque accusamus tenetur harum facere culpa incidunt ducimus in molestias quam. Aliquam, commodi.</p></div>
    <div class="d-flex justify-content-end"><p class="bg-danger rounded w-75" style="word-break: break-all;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ea nemo repudiandae quam, odio sunt eius asperiores iusto similique quisquam odit obcaecati omnis provident excepturi ipsam dicta ex ab? Ullam.</p></div> -->
  </div>
  <div class="d-flex" id="messageSender">
    <input class="form-control m-3" type="text" id="txtMessage" placeholder="Escribe un mensaje">
    <button class="btn btn-danger m-3" id="btnMessage" onclick="sendMessage()">Enviar</button>
  </div>
</div>

    <script src="/LearnDome/View/js/messages.js"></script>
    <script src="/LearnDome/Utils/sweetalert/sweetalert_dark.min.js"></script>

    <script src="/LearnDome/Utils/jquery/jquery.min.js"></script>
    <script src="/LearnDome/Utils/popper/popper.min.js"></script>
    <script src="/LearnDome/Utils/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>